#programContainter{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
}


.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap:2rem
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

.cardImage{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.cardDetails{
    display: flex;
    height: 100px;
    align-items: center;
    padding: 5px;
}

