.navbarContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color:white;
}

.logo{
    display: flex;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.navLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navLinks>label{
    font-size: 70px;
    display: none;
}

a{
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
h1{
    font-size: 45px;
}

a:hover{
    color:brown
}

#menu{
    height: 80px;
    transition: 0.5s;
}

#close{
    height: 60px;
    transition: 0.5s;
}

img{
    height: 80px;
    align-self: center;
    background-color: transparent;

}

@media screen and (min-device-width:0px) and (max-device-width:320px){
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    img{
        height: 200px;
        align-self: center;
    }

    .navLinks{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        right: 0;
        top: 0;
    }

    .navLinks>label{
        display: block;
        position: absolute;
        right: 80px;
        top: 70px;
    }

    .menu-active{
        transition: 0.5s;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 2px;
        top: 200px;
        padding: 30px 100px;
        font-size: 40px;
        background-color: white;
        z-index: 1;
    }

    .menu-not-active{
        display: none;
    }

    h1{
        font-size: 47px;
    }
}


@media screen and (min-device-width:320px) and (max-device-width:425px){
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    img{
        height: 150px;
        align-self: center;
    }

    .navLinks{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        right: 0;
        top: 0;
    }

    .navLinks>label{
        display: block;
        position: absolute;
        right: 80px;
        top: 60px;
    }

    .menu-active{
        transition: 0.5s;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 2px;
        top: 145px;
        padding: 30px 100px;
        font-size: 40px;
        background-color: white;
        z-index: 1;
    }

    .menu-not-active{
        display: none;
    }
    #menu{
        height: 50px;
        transition: 0.5s;
    }
    
    #close{
        height: 40px;
        transition: 0.5s;
    }
}


@media screen and (min-device-width:425px) and (max-device-width:768px){
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    img{
        height: 150px;
        align-self: center;
    }

    .navLinks{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        right: 0;
        top: 0;
    }

    .navLinks>label{
        display: block;
        position: absolute;
        right: 80px;
        top: 15px;
    }

    .menu-active{
        transition: 0.5s;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 2px;
        top: 130px;
        padding: 30px 100px;
        font-size: 40px;
        background-color: white;
        z-index: 1;
    }

    .menu-not-active{
        display: none;
    }
    #menu{
        height: 40px;
        transition: 0.5s;
    }
    
    #close{
        height: 30px;
        transition: 0.5s;
    }
}

