#aboutContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #453C67;
}

#aboutContainer> .about-image {
    height: 70vh;
    width: 50%;
    border-radius: 10px;
    box-shadow: 2px 1px 10px black ;
}

#aboutContainer> .about-image >img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-position: center;
}

#aboutContainer> .about-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutContainer> .about-details>ol {
    color: white;
    margin: 10px;
}

#aboutContainer> .about-details>ol> li {
    color: white;
    margin: 100px;
    font-size: 25px;
    text-shadow: 1px 1px 10px black;
}

#aboutContainer> .about-details>button {
    background-color: white;
    padding: 12px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid white;
    transition: 0.5s;
    box-shadow: 1px 1px 10px black;
}

#aboutContainer> .about-details>button:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}


@media screen and (max-device-width:769px){

    #aboutContainer{
        flex-direction: column;
    }
    #aboutContainer> .about-image {
        height: 40%;
        width: 40%;
        border-radius: 10px;
        box-shadow: 2px 1px 10px black ;
    }
    #aboutContainer> .about-details>ol> li {
        color: white;

    }
    
}